@model IPagedList<MVC_homework1.ViewModels.ExpenseIncomeViewModel>
@{
    Layout = null;
    int itemIndex = (int)ViewData["pageItemIndex"];
}


<table class="table table-bordered table-hover">
    <tr>
        <th style="white-space:nowrap">#</th>


        <th style="white-space:nowrap;text-align:center">
            類別
        </th>
        <th style="white-space:nowrap;text-align:center">
            日期
        </th>
        <th style="white-space:nowrap;text-align:center">
            金額
        </th>
        @*<th>
            備註
        </th>*@

    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @itemIndex
            </td>


            <td style="white-space:nowrap;text-align:center">
                @Html.DisplayFor(modelItem => item.ExpenseIncometype)
            </td>
            <td style="white-space:nowrap;text-align:center">
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td style="white-space:nowrap;text-align:right">
                @Html.DisplayFor(modelItem => item.Money)

            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Remark)
            </td>*@

        </tr>
        itemIndex++;
    }

</table>
@Html.PagedListPager(Model,page=>Url.Action("List",new { page}),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions()
        {
            HttpMethod="GET" , UpdateTargetId = "",OnComplete = ""
        }
        )
)
<link href="~/Content/PagedList.css" rel="stylesheet" />


